 @import url('https://fonts.googleapis.com/css2?family=Peralta&family=Rowdies:wght@300;400&display=swap');

* {
  font-family: 'Peralta', cursive;
}

.Welcome-background {
  background: linear-gradient(0.25turn, #003b59, #9393df, #003b59);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  color: white;
}

.Mr-Sun {
  height: 50vh;
  width: auto;
}

.Room-Section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Welcome-header-font {
  font-size: 5vh;
}

.Welcome-subheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.Start-Game-Button {
  background-color: #00A2ED;
  height: 5vh;
  color: white;
  border: solid 0.1rem #c6bbb9;
}

.Start-Game-Button:hover {
  cursor: pointer;
}

.Game-background {
  background: linear-gradient(0.25turn, #003b59, #9393df, #003b59);
}

.Live-game__structure {
  display: grid;
  grid-template-rows: 30% 70%;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
}

.Scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Player-profile {
  height: 15vh;
  width: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75vh;
  color: black;
  border-style: none;
}

.Player-profile-turn {
  background-color: transparent;
  animation: Fadetask 3s linear infinite;
}

@keyframes Fadetask {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.Player-portfolio-breakdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 70vh;
  width: 50vh;
  position: fixed;
  top: 20%;
  z-index: 100;
  padding: 3vh;
}

.Player-profile-inactive {
  background-color: transparent;
}

.Player-profile:hover {
  cursor: pointer;
}

.Player-avatar {
  height: 10vh;
  width: 10vh;
  border: solid 0.2rem black;
  border-radius: 50%;
}

.AlertBoxButtonContainer__styling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AlertBoxContent__styling {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.AlertBoxSubcontent__styling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.AlertBoxSecurityContainer__styling {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.AlertBoxSecurityName__styling {
  font-size: 1.75vh;
}

.AlertBoxSecurityDistribution__styling {
  font-size: 1.25vh;
  color: grey;
}

.AlertBoxSecurityMarketvalue__styling {
  color: #cfbc4c;
}

.Stock-ticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Trading-floor {
  height: 10vh;
  width: auto;
  border: solid 0.1em white;
}

.Stock-table {
  background-color: black;
  height: 40%;
  width: 100%;
}

.Stock-table__taj-mahal-main {
  width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.Stock-table__taj-pillar-tip {
  background-color: black;
  height: 1.5vh;
  width: 0.5vh;
  margin-left: .75vh;
  border-radius: 50% 50% 0% 0%;
}

.Stock-table__taj-pillar-dome {
  background-color: black;
  height: 2vh;
  width: 2vh;
  border-radius: 80% 80% 80% 80%;
}

.Stock-table__taj-rightpillar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 2vh;
  margin: 0 5vh 0 5vh;
}

.Stock-table__taj-rightpillar-base {
  background-color: black;
  height: 40%;
  width: 2vh;
}

.Stock-table__taj-short-rightpillar-base {
  background-color: black;
  height: 20%;
  width: 2vh;
}

.Stock-table__taj-leftpillar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 2vh;
  margin: 0 5vh 0 5vh;
}

.Stock-table__taj-leftpillar-base {
  background-color: black;
  height: 40%;
  width: 2vh;
}

.Stock-table__taj-short-leftpillar-base {
  background-color: black;
  height: 20%;
  width: 2vh;
}

.Stock-table__taj-tower {
  background-color: black;
  height: 40%;
  width: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20% 20% 0% 0%;
}

.Stock-table__taj-mahal {
  height: 100%;
  width: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Stock-table__taj-mahal-tip {
  background-color: black;
  height: 1.5vh;
  width: 1%;
  border-radius: 50% 50% 0% 0%;
}

.Stock-table__taj-mahal-tip-thin-oval {
  background-color: black;
  height: 2vh;
  width: 1.5vh;
  border-radius: 100% 100% 2vh 2vh;
}

.Stock-table__taj-mahal-tip-oval {
  background-color: black;
  height: 3vh;
  width: 2.25vh;
  border-radius: 100% 100% 2vh 2vh;
}

.Stock-table__taj-mahal-tip-circle {
  background-color: black;
  height: 2vh;
  width: 2vh;
  margin-bottom: -8vh;
  border-radius: 50%;
}

.Stock-table__taj-mahal-dome-top {
  width: 0;
  height: 0vh;
  margin: 5vh;
  border-top: 2vh solid transparent;
  border-left: 8vh solid transparent;
  border-right: 8vh solid transparent;
  border-bottom: 8vh solid black;
}

.Stock-table__taj-mahal-dome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  height: 20vh;
  width: 23vh;
  border-radius: 80% 80% 80% 80%;
  margin-top: -8vh;
  margin-bottom: -8vh;
}

.Stock-table__taj-mahal-base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 20vh;
  width: 20vh;
}

@keyframes Planet-ticker {
  100% {
    transform: translate(-100%, 0);
  }
}

.Planet-list {
  animation-timing-function: linear;
  animation: Planet-ticker 15s infinite;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.75rem;
  padding-left: 100%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.Planet-list:hover {
  animation-play-state: paused;
}

.Planet {
  background-color: #00A2ED;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  width: 10%;
  border: solid 0.1rem #c6bbb9;
  color: black;
  font-size: 1.5vh;
  text-align: center;
  padding: 1vh;
}

.Planet-font-inc {
  color: green;
}

.Planet-font-dec {
  color: red;
}

.Planet:hover {
  opacity: 50%;
}

.Planet-pic {
  height: 6vh;
  width: 6vh;
  border: solid 0.1rem #c6bbb9;
}

.Card {
  margin-top: -1vh;
  margin-right: 8vh;
  border-radius: 10%;
  z-index: 99;
}

.Card-button {
  border-style: none;
  background-color: black;
}

.Card-front {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.postimg.cc/P5b7nZJZ/space.png");
  background-size: contain no-repeat;
  background-color: #353d53;
  border: solid 0.75em black;
  height: 70vh;
  width: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
}

.Card-front-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Card-front-image {
  height: auto;
  width: 80%;
  border: solid 0.35rem black;
}

.Card-front-name {
  color: white;
  font-size: 5vh;
}

.Card-front-description {
  background-color: white;
  width: 80%;
  padding: 1vh;
  color: black;
  font-size: 2vh;
  border: solid 0.25rem black;
}

.Card-front-button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Card-front-button-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Card-front-button {
  background-color: #00A2ED;
  height: 3.5vh;
  width: 30%;
  padding: 1vh;
  color: white;
  font-size: 1.5vh;
  border-style: none;
  margin: 1vh;
}

.Card-front-input {
  height: 3.5vh;
  width: 70%;
  font-size: 1.40vh;
  overflow: hidden;
}

.Card-back {
  background-image: url('https://i.postimg.cc/85x46PsN/gold-glitter3.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 12vh;
  width: 8vh;
  border: solid 0.1rem #c6bbb9;
}

.Card-back-image {
  height: 5vh;
  width: 3.5vh;
}

.Card-back-text {
  font-size: 1vh;
  color: white;
}

.Card-back:hover, .Card-front-button {
  cursor: pointer;
}

.Game-over-breakdown {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50vh;
  font-size: 2.5vh;
  border: solid 0.25rem black;
  z-index: 100;
}
