#Waiting-background {
  grid-template-rows: 5% 65% 30%;
}

#Waiting-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  font-family: "Pilot-Command-Spaced";
  --marginStart: -100vh;
  --marginEnd: 0vh;
  animation: Animate-intro-vertical 1s;
  animation-fill-mode: both;
  animation-delay: 3s;
}

#Waiting-player-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Waiting-player-window {
  height: 45vh;
  width: 45vh;
  margin-left: 10vw;
  margin-right: 10vw;
  --marginEnd: 10vw;
  animation: Animate-intro-horizontal 1s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

#Waiting-planet-background {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('./images/planet_background.png');
  background-size: cover;
  height: 25vh;
  width: 100vw;
  margin-bottom: -10vh;
  --marginStart: 100vh;
  --marginEnd: 0vh;
  animation: Animate-intro-vertical 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

#Waiting-subtitle {
  font-family: Advent-Pro-Bold;
  font-size: 4vh;
}
